<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Arte guiada</title> 
    <link rel="stylesheet" href="arte_guiada.css">
  </head>
    
  <header>
    <nav>
      <a href="login.html">Login</a>
      <a href="#secao1">O que fazemos</a>
      <a href="#secao2">Obras</a>
    </nav>
  </header>
    
  <body>
    <h1 id="secao1">O que fazemos</h1>
    <p class=”presentation”> Somos um site que ensina o usuário a analisar obras de arte, ou seja, somos um guia virtual da obra de arte escolhida. </p>
    <p>Nosso intuito é mostrar um caminho para ver além da obra como um mero desenho, aderindo significado no olhar do especatador e mostrando quais passos lógicos são usados para olhar as obras.</p>

    <section>
        <h1 id="secao2">Obras</h1>

        <div class="carrossel">
          
          <input type="radio" name="obra" id="obra1" checked>
          <input type="radio" name="obra" id="obra2">


            <div class="imagens">
              <img src="a_boba.jpg" alt="obra intitulada a boba, mostra uma mulher sentada em uma cadeira, olhando para alguem mais acima dela. Possui cores vibrantes em tons de amarelo, verde e azul.  ">
              <img src="girl_with_a_pearl.jpg" alt=" obra que apresenta uma moça com um brinco de perola olhando o espectador em uma pose 3/4. O fundo é totalmente preto, fazendo um efeito de tunelamento para a imagem da moça.">
          </div>
          <div class="botoes">
              <label for="obra1">❮</label>
              <label for="obra2">❯</label>
          </div>
          
        </div>
    </section>



    <br>
  </body>
  <footer>
   Roberta Ruivo Pompeu
   <a href="mailto:roberta.ruivo@unesp.br">Email</a>
   Sistemas computacionais 2.2026 
</footer>
</html>