<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title> 
    <link rel="stylesheet" href="../public/css/style.css">

    <meta name="description" content="Página de login do site Arte Guiada, que permite ao usuário acessar sua conta ou criar uma nova conta para analisar obras de arte e aprender a atribuir significado ao olhar do espectador.">
  </head>

  <body>
    <header>
      <nav>
        <a href="../index.html">Início</a>
        <a href="../views/login.html">Login</a>
        <a href="../index.html#secao1">O que fazemos</a>
        <a href="../index.html#secao2">Obras</a>
      </nav>
    </header>

    <div class="opcoes-login">
      <button>Entrar</button>
      <button>Cadastrar</button>
    </div>  
    <br>
  </body>


  <footer>
    Roberta Ruivo Pompeu
    <a href="mailto:roberta.ruivo@unesp.br">Email</a>
    Sistemas computacionais 2.2026 
  </footer>
</html>