body {
    background-color: #FAF1E6;
}

h1 {
    color: #4B3528;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 38px;
    text-align: center;
}

p {
    color: #2F1F1A;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}


nav {
    display: flex;
    margin: -8px;
    justify-content: center;
    gap: 10px;
    background-color: #3A241B;
    padding: 10px;

    color: black;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

nav a {
    color: #F2E1D0;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #5A371E;
}

img {
    border-radius: 20px;

}


footer {
    display: flex;
    margin: -8px;
    justify-content: center;
    gap: 10px;
    background-color: #3A241B;
    padding: 10px;

    color: #F2E1D0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
}

footer a {
    color: #F2E1D0;
    text-decoration: none;
    padding: 10px 20px;
}

footer p {
    color: #F2E1D0;
    text-decoration: none;
    padding: 10px 20px;
}

footer a:hover {
    background-color: #5A371E;
}